/*Global Styles*/
@font-face {
  src: url(../fonts/OldNewspaperTypes.ttf);
  font-family: Newspaper;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 95%;
}

body {
  background-image: url(../img/altbg.jpg);
  background-position: 90% 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Newspaper;
  padding: 1%;
}

.container {
  opacity: 0.97;
  background-image: url(../img/bg.jpg);
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 0 0 4px black;
  min-height: 95%;
  padding: 30px;
}

hr {
  border-color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  font-size: 50px;
  letter-spacing: 25px;
  margin-bottom: 25px;
}

.mid-line {
  margin: 0;
}

/*Landing Page Styles*/
#landing {
  min-height: 100%;
}

.order-online {
  font-size: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.order-online:focus {
  outline: 0;
}

.middle-landing {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
}

.lead-image {
  width: 70%;
  float: right;
  padding: 20px;
}

/*Pizza Builder Styles*/
#pizza-builder {
  display: none;
  min-height: 100%;
}


.size-button {
  width: 20%;
  padding: 20px 0;
  margin: 5px;
  background: rgba(255,255,255,0);
  border: 1px solid black;
}

.size-selected {
  background-color: rgba(150,150,150,0.5);
}

.size-button:focus {
  outline: 0;
}

#add-to-order, #checkout, #confirm-order, .order-online {
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid black;
}

#add-to-order:hover, #checkout:hover, #confirm-order:hover, .order-online:hover, .size-button:hover {
  background-color: rgba(150,150,150,0.5);
}

#add-to-order:focus, #checkout:focus, #confirm-order:focus, .order-online:focus, .size-button:focus {
  outline: 0;
}

#checkout, #confirm-order {
  margin-bottom: 20px;
}

/*Checkout Page Styles*/
#checkout-page {
  display: none;
  min-height: 100%;
}

#location-information {
  display: none;
}

/*confirmation page styles*/
#confirmation-page {
  display: none;
  min-height: 100%;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 2em;
  }
  .middle-landing {
    border:none;
  }
}
