/*Global Styles*/
@font-face {
  src: url(../fonts/OldNewspaperTypes.ttf);
  font-family: Newspaper;
}

@font-face {
  src: url(../fonts/Calligraphy.ttf);
  font-family: Calligraphy;
}

html, body {
  height: 98%;

}

body {
  background-image: url(../img/altbg.jpg);
  background-position: 90% 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Newspaper;
  padding: 1%;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  opacity: 0.97;
  background-image: url(../img/bg.jpg);
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 0 0 4px black;
  margin-bottom: 1%;
}

hr {
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 50px;
}

.mid-line {
  margin: 0;
}


/*Landing Page Styles*/
#landing {
  /*display: none;*/
  min-height: 100%;
}

.order-online {
  font-family: Calligraphy;
  font-size: 40px;
  width: 100%;
  background: #ccc;
  height: 80px;
  border: 1px solid black;
  border-radius: 5px;
}

.order-online:hover {
  background-color: #333;
  color: #fff;
}

.order-online:focus {
  outline: 0;
}

.middle-landing {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
}

.lead-image {
  width: 70%;
  float: right;
  padding: 20px;
}

/*Pizza Builder Styles*/
#pizza-builder {
  display: none;
}


.size-button {
  width: 20%;
  padding: 20px 0;
  margin: 5px;
  background: rgba(255,255,255,0);
  border: 1px solid black;
}

.size-selected {
  background-color: rgba(150,150,150,0.5);
}

.size-button:focus {
  outline: 0;
}

#add-to-order, #checkout, #confirm-order {
  padding: 20px;
  width: 100%;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid black;
}

#add-to-order:hover, #checkout:hover, #confirm-order:hover {
  background-color: rgba(150,150,150,0.5);
}

#add-to-order:focus, #checkout:focus, #confirm-order:focus {
  outline: 0;
}

#checkout, #confirm-order {
  margin-bottom: 20px;
}

/*Checkout Page Styles*/
#checkout-page {
  display: none;
}

#location-information {
  display: none;
}

/*confirmation page styles*/
#confirmation-page {
  display: none;
}
